@media screen and (max-width: 900px) {
    .product-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .product-info {
        display: flex;

        flex-direction: column;

        align-items: center;

        width: 100%;


        p {
            text-align: center;
        }
    }
}