
.product-page-container {
    display: flex;             
    justify-content: center;   
    align-items: center;     
    max-width: 1200px;        
    margin: 50px auto;         
    gap: 80px;                 
    padding: 0 20px;           
}

.product-image {
    transition: all 0.1s ease;
    flex: 1;                   
    display: flex;             

    &:hover{
        transform: scale(1.05);
    }
}

.product-image img {
    max-width: 100%;      
    width: 400px;              
    height: auto;              
    object-fit: contain;      
}


.product-info {
    flex: 1;                  
    display: flex;
    flex-direction: column;    
    align-items: center;   
    
    text-align: center;          
}



.product-info h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-transform: uppercase; 
    font-weight: 800;
}


.product-info h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.product-info p {
    font-size: 16px;
    line-height: 1.6;        
    color: #666;
    margin-bottom: 30px;
    max-width: 400px;         
}


.back-btn {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: #000;
    font-size: 20px;
}


@media screen and (max-width: 900px) {
    .product-page-container {
        flex-direction: column; 
        gap: 30px;              
        margin-top: 20px;
    }

    .product-image {
        justify-content: center; 
    }

    .product-info {
        align-items: center;   
        text-align: center;     
    }
}