
.profile-main {
    display: flex;

    flex-direction: row;

    width: 100%;
    min-height: 65vh;

    margin-top: 40px;
}


.login-side,
.signup-side {
    width: 50%;
    display: flex;
    justify-content: center;
}

.login-btns {
    margin-top: -20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;


    .facebook-btn{
        border: 1px solid black;
        width: 160px;
        color: #1a1a1a;
        font-weight: bold;
        background-color: #fff;
        padding: 15px;
        text-transform: uppercase;
        margin-left: -15px;
        cursor: pointer;
        text-align: left;
    }

    .google-btn{

        border: 1px solid black;
        width: 160px;
        color: #1a1a1a;
        font-weight: bold;
        background-color: #fff;
        padding: 15px;
        text-transform: uppercase;
        margin-left: -15px;
        cursor: pointer;
        text-align: left;
    }
}



.form-content {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}


h1 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

.forgot-pass {
    color: #000;
    text-decoration: underline;
    font-size: 14px;
    align-self: flex-start;
}


.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 15px;
    border: 1px solid #767676;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #000;
}

.btn-black {
    background-color: #000;
    color: #fff;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

@media only screen and (max-device-width: 1015px) {
    .profile-main{
        flex-direction: column;
    }

    .login-side,
    .signup-side {
        width: 100%;
    }

    .signup-side{
        margin-top: 100px;
        .btn-black {
                margin-top: -20px;
            }
        
            p {
                margin-top: -20px;
            }
    }

}