@charset "UTF-8";
.tape-container {
  position: relative;
  left: 0;
  width: 100%;
  background-color: #111;
  color: #fff;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.tape-track {
  display: inline-block;
  -webkit-animation: scroll 60s linear infinite;
          animation: scroll 60s linear infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    /* Сдвигаем на большую величину влево */
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    /* Сдвигаем на большую величину влево */
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}