
.tape-container {
    position: relative;   
    left: 0;
    width: 100%;  
    // z-index: 2000;    
    
    background-color: #111;
    color: #fff;
    overflow: hidden;
    padding: 10px 0;
    
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    

    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.tape-track {
    display: inline-block;

    animation: scroll 60s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        /* Сдвигаем на большую величину влево */
        transform: translateX(-50%);
    }
}