.app {
    padding-top: 120px;
}

.site-header {
    position: fixed;
    top: 40px;

    left: 0;
    width: 100%;
    background-color: #ffffff;

    color: #000000;

    z-index: 1000;
    border-bottom: 1px solid #e5e5e5;
    font-family: sans-serif;
}

.top-bar {
    background-color: #fff;
    font-size: 0.75rem;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end;

    .top-links span {
        margin-left: 20px;
        cursor: pointer;
        color: #333;

        &:hover {
            text-decoration: underline;
        }
    }
}


.main-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 15px 30px;

    height: 50px;
}


.logo {
    font-size: 1.8rem;
    font-weight: 900;

    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-style: italic;

    transition: all 0.2s ease;

    &:hover{
        color: #113acf;
    }
}

.main-nav {
    display: flex;
    gap: 30px;

    a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
            border-bottom: 2px solid black;
            transition: all 0.1s ease;

        }
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}


.search-box {
    position: relative;

    input {
        background-color: #eceff1;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;

        width: 150px;
        font-weight: 600;

        &::placeholder {
            color: #555;

        }
    }

    button {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
    }
}

.icons {
    display: flex;
    gap: 10px;


    .icon-btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 0;
        position: relative;


        .badge {
            position: absolute;
            top: -5px;
            right: -8px;
            background-color: #0071bd;

            color: white;
            font-size: 0.7rem;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 900px) {

    .icons{
        margin-top: 20px;
    }

    .logo{
        display: none;
    }

    .main-nav,
    .top-bar{
        margin-top: 25px;

    }

    .search-box{
        margin-top: 20px;
        input{
            display: none;
        }
        button{
            left: -25px;
        }

    }

    .site-header {
        top: 0;

    }

    .app {
        padding-top: 80px;
    }
}