.main-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0 40px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  z-index: 500;
}

.logo {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  width: 200px;
}
.logo:hover {
  color: darkorchid;
}

.main-nav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.actions {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.actions .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 4px;
}
.actions .search-box input {
  border: none;
  background: transparent;
  outline: none;
}
.actions .search-box button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.actions .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actions .icons .icon-btn {
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  text-decoration: none;
}
.actions .icons .badge {
  position: absolute;
  top: 35px;
  right: 30px;
  background-color: #ff3b30;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: sans-serif;
  min-width: 10px;
  height: 18px;
  padding: 0 4px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.mobile-menu-trigger {
  display: none;
}

@media screen and (max-width: 930px) {
  .mobile-menu-trigger {
    display: block;
    margin-right: auto;
  }
  .main-nav {
    display: none;
  }
  .logo {
    display: none;
  }
  .icons {
    margin-top: 0;
  }
  .search-box button {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .search-box input {
    width: 70px;
  }
  .site-header {
    top: 0;
  }
}
@media only screen and (min-device-width: 900px) and (max-device-width: 1110px) {
  .main-nav {
    right: 90px;
  }
}
@media only screen and (max-device-width: 353px) {
  .search-box input {
    display: none;
  }
}