/* DropDown_menu.css */

.nav-item-dropdown {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 20px 0;

    position: relative;
    color: black;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;

    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}



.dropdown-menu {
    position: absolute;

    top: 100%;
    left: 0;

    right: 0;


    width: 100%;
    background-color: white;
    padding: 30px 0;

    border-top: 1px solid #e5e5e5;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    gap: 100px;

    z-index: 9999;
    box-sizing: border-box;



    &::before{
        content: '';
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 30px;

        // padding-left: 150px;

        background: transparent;
    }
}


.menu-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    text-align: left;
}


.column-title {
    font-size: 0.9rem;
    font-weight: 800;

    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 5px;

    color: black;
}


.menu-column a {
    text-decoration: none;
    color: #444;

    font-size: 0.9rem;
    font-weight: 400;

    transition: color 0.2s;
    line-height: 1.5;

    &:hover {
        color: black;
        text-decoration: underline;

    }
}




@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}